name: Harden Runner Demo - Supply Chain Test

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # рзз. рж╣рж╛рж░рзНржбрзЗржи рж░рж╛ржирж╛рж░ рж╕рзЗржЯржЖржк (Step Security)
      # ржкрзНрж░ржержорзЗ ржЖржорж░рж╛ 'audit' ржорзЛржбрзЗ ржЪрж╛рж▓рж╛ржмрзЛ ржжрзЗржЦрж╛рж░ ржЬржирзНржп ржХрж┐ рж╣рзЯред
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            google.com:443

      # рзи. ржХрзЛржб ржЪрзЗржХржЖржЙржЯ
      - name: Checkout Code
        uses: actions/checkout@v4

      # рзй. ржЖрж╕рж▓ ржЧрзБржЧрж▓ ржорж╛ржорж╛ржХрзЗ ржХрж▓ (ржПржЯрж╛ ржЖржорж╛ржжрзЗрж░ ржмрзИржз ржХрж╛ржЬ)
      - name: Call Google (Valid Task)
        run: |
          curl -I https://www.bing.com
          echo "Google Mama is safe."

      # рзк. ЁЯЪи рж╕рзЗржЗ ржорзНржпрж╛рж▓рж┐рж╢рж╛рж╕ ржЕрзНржпрж╛ржХрж╢ржи ржХрж▓ ржХрж░рж╛ ЁЯЪи
      # ржЦрзЗрзЯрж╛рж▓ ржХрж░: uses ржПрж░ ржкрж░ рждрзЛрж░ ржУржЗ ржирждрзБржи рж░рж┐ржкрзЛрж░ ржирж╛ржо ржжрж┐ржмрж┐
      # Format: username/repo-name@tag
      - name: Run The Trap
        uses: rafidhaque/fake-mali-action@v2
        with:
          username: 'Victim Mama'