name: Harden Runner Demo

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # এই দেখ মামা, এইটাই সেই হার্ডেন রানার। সবার আগে এইটারে ডাক দিবি।
      # এটা অডিট মোডে চলবে, মানে সব দেখবে কিন্তু কিছু ব্লক করবে না।
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            www.google.com:443

      - name: Checkout Code
        uses: actions/checkout@v4

      # এখন একটা ভংচং কাজ করি যাতে নেটওয়ার্ক কল হয়।
      # মনে কর আমরা গুগল মামারে একটা পিং মারলাম।
      - name: Call Google
        run: |
          curl -I https://www.facebook.com
          echo "Google Mama responded! Khela hobe!"

      # আরেকটা আজাইরা কাজ, একটা ফাইল বানাই।
      # হার্ডেন রানার কিন্তু ফাইলের কারসাজিও ধরে ফেলে!
      - name: Create a secret file
        run: |
          echo "This is top secret stuff" > secret.txt
          cat secret.txt